.container-fluid {
    margin: 15px;
}

.ttx {
    color: black;
    font-weight: 700;
    margin-left: 10%;
}

.navbar-nav {
    margin-left: 40%;
}

.nav-item a {
    color: black;
    font-weight: 500;
}

.carousel-caption {
    margin-bottom: 60px;
    padding: 18%;
}

.margin-section {
    margin-bottom: 130px;
}

.width-section {
    width: 90%;
}



/*------Package Section-----*/
h1 {
    font-weight: bolder;
}

p {
    color: #848199;
}

.mid-txt-center {
    padding-top: 1000px;
}

.font-weight {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

ul li {
    list-style-type: none;
    color: #848199;
    font-weight: 400;
}

.text {
    color: #E5E5E5;
}

.card {
    border-radius: 30px;
}


/*------Clients Section-----*/
.text-1 {
    font-weight: 450;
}